
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

body{
background: url("../images/homepagebgimg3.jpeg");
background-size: cover;
background-repeat: repeat;
height: 100vh;
}

h1{
text-align: center;
font-family: 'kaushan Script', cursive;
color: black;


}
h1::first-letter{
font-size: 60px;
}

h2{
text-align: center;
font-family: 'kaushan Script', cursive;
color: blue;
margin-top: 0px;

}

h3{
font-family: 'kaushan Script', cursive;
text-style: bold;
}

h4{
font-family: 'kaushan Script', cursive;
text-style: bold;
color: blue;
margin: 0 20px;
font-size: 30px;
}

#logoutbtn{
color: red;
margin-top:5px;
width:50px;
text-decoration: none;
display: inline;
font-family:Arial, Helvetica, sans-serif;
 border-style: solid;
 border-color: red rgba(170, 50, 220, .6) green;
 position: fixed;
 right: 10px;
 top: 10vh;
}

class.welcomeCard{
margin-right: fixed;
font-family: 'kaushan Script', cursive;

}

.choosePlan a{
position: relative;
display: block;
padding: 25px 30px;
margin: 40px 0;
color: blue;
font-size:20px;
font-family: 'kaushan Script', cursive;
text-decoration: none;
text-transform: uppercase;
}

.button {
    display: inline;
    justify-content: center;
    width: 100px;
    height: 15px;
    margin: 0 100px;
    background: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
    line-height: 25px;
}

.cardclass{
border: 2px solid black;
    padding: 0px;
    width: 415px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40 0px;
}

ul{
    columns: 3;

}


.selectedInsurance_card{
    border: 2px solid black;
    background: url("../images/images4.jpeg");
    margin: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    width: 400px;
    height: 175px
}

.imgcard{
    width:400px;
    height:200px;
}

#availableDiv{
    display:flex;
    flex-wrap: wrap;
    margin-left: 40px;

}

#via-policies-container{
    display:flex;
    flex-wrap: wrap;
     margin-left: 40px;
    border: 0px solid rgb(20, 16, 16);
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.button3:hover{
 background-color: white;
  color: black;
  border: 2px solid red;
  padding: 10px 20px;
  text-align: center;
    background-color: blue;
    color: white;
  text-decoration: none;
  display: inline-block;}


a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
  color: white;
}

.submitButton{
  background-color: white;
  color: black;
  border: 2px solid green;
  margin: 0 120px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}



button:hover, button:active {
    background-color: blue;
    color: white;
  }

  input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
label{
    margin: 0 20px;

}
.mainRegisterDiv{
   margin: 20px 0;

}